.leaflet-container {
  height: 55vh;
  width: 100%;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 1rem;
}
.scrollable-table {
  overflow-y: scroll;
  max-height: 288px;
  display: block;
  float: left;
  width: max-content;
}
thead tr {
  display: block;
}
thead {
  display: block;
  width: 100%;
}
.full-screen-table tfoot {
  display: block;
  width: 100%;
  bottom: 0;
}
tbody {
  overflow-y: scroll;
  display: block;
  width: 100%;
}
.leaflet-control ~ .leaflet-control {
  display: none;
}
.scrollable-table-magazyn {
  overflow-y: scroll;
  max-height: 800px;
  display: block;
  float: left;
  width: max-content;
}
.full-screen-table {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

.table-container {
  flex: 1 0 auto; /* This will make the table fill the space */
  overflow-y: auto; /* Adds scroll to table body if content overflows */
}

/* Ensure the table fills its container */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

/* Footer at the bottom */
.table-footer {
  flex-shrink: 0;
}

/* Style for the summary row */
.summary-row {
  background-color: #f3f3f3; /* Match this with your theme */
  font-weight: bold;
}
.selected-row-style {
  background-color: #1b65c5; /* or any highlight color */
  color: #f5f5f5; /* or any text color for selected row */
  /* Add more styles if needed */
}
